.profile {
	margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
	padding: 0px 0 15px 0;
	background: #fff;
}

.profile-userpic
{
	max-height: 6em;
	max-width: 6em;
	margin-left: 5em;
}
.profile-userpic img {
	
	margin-left: 4.5em;
	padding-top: 1em;
	float: none;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px;
}

.hidden {
	display: none;
}

.profile-usertitle-name {
	color: #e0a800;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 7px;
}

.profile-usertitle-job {
	text-transform: uppercase;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile-userbuttons {
	text-align: center;
	margin-top: 10px;
}

.profile-userbuttons .btn {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px;
	margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
	margin-right: 0px;
}

.profile-usermenu {
	margin-top: 30px;
}

.profile-usertitle-name a {
	border-radius: 10px;
}

.profile ul .nav {
	width: 100%;
}

.profile-usermenu ul li {
	border-bottom: 1px solid #f0f4f7;
	padding-left: 0%;
	padding-right: 0%;
	width: 100%;
	width: 100%;
}

.profile-usermenu ul {
	text-align: left;
	padding-left: 0%;
	padding-right: 0%;
}

.profile-usermenu ul li:last-child {
	border-bottom: none;
	text-align: center;
}

.matchHistory-button a {
	color: #93a3b5;
	font-size: 16px;
	font-weight: 339;
	border-radius: 251px;
	width: 100%;
	padding-left: 23% !important;
	padding-right: 22% !important;
	padding-top: 3%;
	padding-bottom: 3%;
}

.profile-usermenu ul li a {
	background-color: rgba(0, 0, 0, 0.45);
	color: #e0a800;
	font-size: 16px;
	font-weight: 500;
	border-radius: 251px;
	width: 100%;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.profile-usermenu ul li a i {
	margin-right: 10px;
	font-size: 14px;
}

.profile-usermenu ul li a:hover {
	background-color: #e0a800;
	color: #111111;
	border-radius: 10px;
}

.profile-usermenu ul li.active {
	border-bottom: none;
}

.profile-usermenu ul li.active a {
	color: #000000;
	background-color: #e0a800;
	border-left: 9px solid #e0a900;
	margin-left: 0px;
}

.customLabel
{
	color: #e0a800; 
	border-radius: 10px; 
	background-color: rgba(0, 0, 0, 0.45);
}

.profile-usermenu ul li {
	margin-bottom: 5%
}

.profile-usermenu ul li:last-child {
	margin-bottom: 0%
}

/* Profile Content */
.profile-content {
	padding: 20px;
	background: #fff;
	/*min-height: 460px;*/
	/* font-size: 2em; */
}
/*ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/
.form-group label {
	font-weight: 700;
	color: #e0a800;
}

.profile-content #overview-div label {
	font-weight: 700;
	color: #e0a800;
}

.profile-content #settings-div label {
	font-weight: 700;
	color: #e0a800;
}

.main-title {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 10px;
	padding-bottom: 5px;
}

.box-content {
	border-bottom: 1px;
}

.box-title-main>h2 {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 12px;
	padding-bottom: 7px;
}

.minibox-title {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 12px;
	padding-bottom: 7px;
}

/*
h3 h4 h5 h6 {
	font-weight: bold !important;
	font-size: 20px;
	line-height: 1.42857143;
}*/
.minibox-title {
	font-weight: 50px;
}

.box-title a {
	text-decoration: none;
	float: right;
	margin-top: 10px !important;
}
/*
.box-title h4 {
	float: left;
	margin-top: 9px;
}*/
.box-title a:HOVER {
	color: #47bfcf;
	text-decoration: none;
}

.box-left {
	font-size: 12px;
}

.box-right {
	float: right;
	font-size: 12px;
}

/* Content Columns */ /*
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set .col-narrow { width:33%; }
.col2-set .col-wide { width:65%; }
.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }
.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
.col-max { width: 100%; }
*/

/* Table Style Rules */
th, td {
	border-bottom: 1px solid #ddd;
}

/* Fieldset settings */
.fieldset {
	width: 98%;
}

#passwordChange {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border: 5px solid;
	border-color: #31b0d5;
	/*background-color: #68c9e666;*/
	background-color: rgba(49, 176, 213, 0.78);
	border-radius: 15px;
}

#passwordChange:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 100%;
	top: 3px;
	border-top: 10px solid transparent;
	border-right: 20px solid #31b0d5;
	border-bottom: 10px solid transparent;
}

h2 {
	color: #e0a800 !important;
}

.sidebar-container {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.45);
}

.settings-container {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.45);
}

.box>div {
	line-height: 1.42857143;
}